
#show-number {
	width: 100%;
	align: center;
}

h1 {
	text-align: center;
	font-size: 60px;
	color: #999;
}

h2 {
	text-align: center;
}

div {

}

form {

}

input {


}

fieldset {
	text-align: center;
	margin-left: 0%;
	
}

#start {

}

legend {

}